<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Stockzly</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <form class="d-flex" role="search" action="/" method="post">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="stockTicker">
        <input class="form-control me-2" type="multiplier" placeholder="multiplier" aria-label="Search" name="stockTicker">
        <input class="form-control me-2" type="timespan" placeholder="timespan" aria-label="Search" name="stockTicker">
        <input class="form-control me-2" type="from" placeholder="from" aria-label="Search" name="stockTicker">
        <input class="form-control me-2" type="to" placeholder="to" aria-label="Search" name="stockTicker">
        <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-secondary" type="submit">Stock Search</button>
        <div/>
      </form>
    </div>
  </div>
</nav>
<br>


<!--everything in body is coming from  home-->
    {{{body}}}
<!-- Bootstrap JS and Popper.js (optional but often required for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>