<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>handlebars homepage</title>
</head>
<body>

{{!--use form to send post route to be used in the search stock route--}} 
<form action="/stock/search" method="post">
    <h1>Stockzly homepage </h1>
    <input type="text" placeholder="Search Stock" id="stocksTicker" name="stocksTicker" maxlength="4"><br>
    <input type="text" placeholder="Window Increment" id="multiplier" name="multiplier"><br>
    <input type="text" placeholder="time Span" id="timeSpan" name="timeSpan"><br>
    <input type="text" placeholder="From" id="searchStock_start" name="searchStock_start"><br>
    <input type="text" placeholder="To" id="searchStock_end" name="searchStock_end"><br>
    <button type="submit">Search</button>
</form>
{{!--THIS IS HANDLEBARS COMMENT SYNTAX--}}
<br>


{{!--iterate loop 2 times because the results is inside of an array and you have to iterate over the array--}}
{{#each stock.results}}
    {{#each this}}
    {{@key}}:{{this}}<br>
     {{/each}}
     <hr>
{{/each}}

</body>
</html>

